

#menu li a:hover {
  color: #FFFFFF;
  background-color: #grey;
}

#menu a:link, #menu a:visited{
  display:block;
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 2px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #ccc;

}

#menu a:hover {
    background-color: #97999b;
    color: #ffffff;
}

head {
  background-color: #c89403
}

{margin:0px; padding:0px;}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

#socials {
  background-color: #c89403
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
}

/* this menu eventually link to other archived pages once we have content to fill the site with. -Mack */
#projectmenu
{
font-family: sans-serif;
text-align: left;
color: white;
  background-color: black;
max-width: 150px;
}

#projectmenu{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: baseline;
  justify-content: space-around;
width:
}

.section{
display: grid;
grid-template-columns: 1fr 1fr;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 599px) {
  #menu{
    flex-flow: row wrap;
    align-content: center;
  }

#boxes{
width: 320px;
height: 220px;
padding: 10px;
border: 5px solid gray;
margin: 10px;
}

#boxes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#socials{
  display: flex;
  flex-direction: row-reverse;
}
/* The twitter and facebook logos are images with the backgrounds nonexistent but instagram isn't so
if someone wants to find one with no background and just replace it in the code that would be stellar -Taylor
-- We also should resize these to make it look better on the site. -Mackenzie*/
#logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-self: baseline;
}

.container{
border: none;
display: flex;
justify-content: center;
}

h2{
  font-family: 'Poppins', sans-serif;
  color: black;
}

.byline{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}


}
/* temporary image to show what the homepage could look like */

body{
background-color: white;
}

p{
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}


/* This is just a test for background colors for the site. If we want to keep white just delete and make the background white */


.navigation {
	background-color: #000000;
	display: flex;
	flex-direction: row;
}

p{
  margin: auto;
  text-align: center;
font-family: 'Libre Baskerville', serif;
}

.sidebar{
font-family: 'Poppins', sans-serif;
color: black;
font-weight: 400;
font-size: 20px;
text-align: left;
display: flex;
flex-wrap: wrap;
}

#container{
  width: 60%;
  margin:auto;
}

img{
  border: none;
  display: flex;
  align-content: left;
  padding: 10px;
  float: left;
}

.image-right{
  display: flex;
  flex-wrap: wrap-reverse;
  align-content:right;
  float: right;
}
