#menu a:link, #menu a:visited{
  font-family: 'Raleway', sans-serif;
  display: block;
  color: #97999b;
  background-color: #f1b82d;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

#menu a:link, #menu a:hover{
background-color: black;
}

ul{
  list-style-type: none;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
}

#socials{
  display: flex;
  flex-wrap: wrap;
}
